

.App {
  text-align: center;
  background-image: url("images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: darkorchid;
}

.intro {
  color: white;
}

button {
  border-radius: 24px;
  background-color: hotpink;
  width: 200px;
  height: 50px;
  margin: 30px 100px;
}

.footer {
  position: absolute;
  left: 450px;
  bottom: 25px;
  font-size: 10px;
  color: white;
}

.footer a {
  color: hotpink;
}

p {
  color: white;
}

li {
  color: white;
  text-align: left;
  position: relative;
  left: 40%;
}

.education_page p {
  width: 50%;
  position: relative;
  left: 25%;

}